@font-face {
  font-family: HankenGrotesk-Bold;
  src: url(/assets/fonts/static/HankenGrotesk-Bold.ttf);
}
@font-face {
  font-family: HankenGrotesk-ExtraBold;
  src: url(/assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}
@font-face {
  font-family: HankenGrotesk-Medium;
  src: url(/assets/fonts/static/HankenGrotesk-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span{
  font-size: 18px;
}

.container{
  display: grid;
  min-height: 95dvh;
 

  place-content: center;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 20px 500px 20px; */
}

.resultArea{
  background-color:  hsl(241, 81%, 54%);
  grid-column: 2;
  grid-row: 2;
  padding: 20px 80px;
  border-radius: 18px ;
  display: grid;
  place-items: center;
  gap: 30px;
}
.title{
  font-family: HankenGrotesk-Bold;
  color: hsl(241, 100%, 89%);
  font-size: 20px;
}
.yourResultCircle{
  background-color: hsla(256, 72%, 46%, 1);
  padding: 40px 60px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.avaregeOf100{
  color: hsl(0, 0%, 100%);
  font-family: HankenGrotesk-ExtraBold;
  font-size: 60px;
}
.of100{
  font-family: HankenGrotesk-Medium;
  color: hsl(241, 100%, 90%);
  opacity: 0.5;
 
}

.resultArea{
  & > p:nth-of-type(2){
    font-family: HankenGrotesk-ExtraBold;
    font-size: 32px;
    color: hsl(0, 0%, 100%);
  }
  & > p:nth-of-type(3){
    font-family: HankenGrotesk-Medium;
    color: hsl(0, 0%, 100%);
    opacity: 0.5;
    text-align: center;
  }
}

.summaryArea{
  background-color: hsl(0, 0%, 100%);
  grid-column: 3;
  grid-row: 2;
  border-radius : 0 10px 10px 0;
  box-shadow: 8px  8px 8px hsl(221, 100%, 96%);
  display: flex;
  flex-direction: column;
  padding: 0 60px;
 
}

.summaryArea > button{
  cursor: pointer;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-family: HankenGrotesk-Medium;
  font-size: 14px;
  padding: 1rem 1rem;
  border-radius: 24px;
  border: none;
}

.summaryTitle{
  font-family: HankenGrotesk-Bold;
  font-size: 20px;
  color: hsl(224, 30%, 27%);
  place-self: start;
  padding: 30px 10px;
}

.painelPointsArea{
  display: grid;
  gap: 16px;
  min-width: 250px;
  padding: 0 0 50px 0;
  font-family: HankenGrotesk-Medium;
  grid-template-rows: 1fr;
}

.reactArea,
.memoryArea,
.verbalArea,
.visualArea {
  display: flex;
  gap: 8px;
  padding: 16px;
  border-radius: 16px;
  justify-content: space-between;
}
.percentage{
  color: hsl(224, 30%, 27%);
  font-weight: 600;
  font-family: HankenGrotesk-Bold;

  & .percentage-suffix{
    opacity: 0.5;
  }
}
.reactArea{
  background-color: hsl(0, 100%, 96%);
  color: hsl(0, 100%, 67%);
}
.iconArea{
  display: flex;
  gap: 8px;
}
.memoryArea{
  background-color: hsl(39, 100%, 96%);
  color: hsl(39, 100%, 56%);
}
.verbalArea{
  background-color: hsl(166, 100%, 96%);
  color: hsl(166, 100%, 37%);
}
.visualArea{
  background-color: hsl(234, 85%, 96%);
  color: hsl(234, 85%, 45%);
}



@media screen and (max-width: 600px) {
  .container{
    display: grid;
    min-height: 100dvh;
    place-content: center;
    background-color: #000;
    grid-template-columns: 1fr;
    grid-template-row: repeat(2, 1fr);


  }
  .resultArea{
    background-color: #fff;
    grid-column: 1;
    min-height: 50dvh;
  }
  
  .summaryArea{
    background-color: red;
    grid-column: 1;
    min-height: 50dvh;
  }

}